Task 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
authors = pd.DataFrame({
    'author_id': [1, 2, 3],
    'author_name': ['Turgenev', 'Chehov', 'Ostrovskyi']
})

In [3]:
books = pd.DataFrame({
    'author_id': [1, 1, 1, 2, 2, 3, 3],
    'book_title': ['Fathers and sons', 'Rudin', 'Dvoryanskoe gnezdo', 'Fat and thin', 'Lady and the dog', 
                   'Thunderstorm', 'Talents and admirers'],
    'price':[450, 300, 350, 500, 450, 370, 290 ]
})

Task 2

In [4]:
authors_price = pd.merge(authors, books, on='author_id', how='inner')

In [5]:
authors_price

   author_id author_name            book_title  price
0          1    Turgenev      Fathers and sons    450
1          1    Turgenev                 Rudin    300
2          1    Turgenev    Dvoryanskoe gnezdo    350
3          2      Chehov          Fat and thin    500
4          2      Chehov      Lady and the dog    450
5          3  Ostrovskyi          Thunderstorm    370
6          3  Ostrovskyi  Talents and admirers    290

Task 3

In [6]:
top_5 = authors_price.sort_values(by = ['price'], ascending = False).head(5)

Task 4

In [7]:
author_name = []
min_price = []
mean_price = []
max_price = []

for i in authors_price['author_name'].unique():
    author_name.append(i)
    min_price.append(np.min(authors_price.loc[authors_price['author_name']== i,'price']))
    max_price.append(np.max(authors_price.loc[authors_price['author_name']== i,'price']))
    mean_price.append(np.mean(authors_price.loc[authors_price['author_name']== i,'price']))
    
authors_stat = pd.DataFrame({
    'author_name': author_name,
    'min_price': min_price,
    'max_price':max_price,
    'mean_price':mean_price
})

In [8]:
authors_stat

  author_name  min_price  max_price  mean_price
0    Turgenev        300        450  366.666667
1      Chehov        450        500  475.000000
2  Ostrovskyi        290        370  330.000000

Task 5

In [9]:
authors_price['Cover'] = ['hard', 'soft', 'soft', 'hard', 'hard', 'soft', 'soft']

In [10]:
book_info = pd.pivot_table(authors_price, values = 'price', index=['author_name'],columns=['Cover'], aggfunc=np.sum)
book_info = book_info.fillna(0)

In [11]:
book_info.to_pickle('book_info.pkl')
book_info_2 = pd.read_pickle('book_info.pkl')

In [12]:
book_info_2

Cover         hard   soft
author_name
Chehov       950.0    0.0
Ostrovskyi     0.0  660.0
Turgenev     450.0  650.0

In [13]:
book_info

Cover         hard   soft
author_name
Chehov       950.0    0.0
Ostrovskyi     0.0  660.0
Turgenev     450.0  650.0